

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #81cbe4;
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
}

#wrapper {
	width: 70%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 5%;
	box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.59);
}

h1 {
	font-family: 'Times New Roman', cursive;
	letter-spacing: 4px;
	font-size: 3em;
	color: #181616;
	text-align: center;
	margin-bottom: 5%;
}

#question p {
	font-family: "Times New Roman", Times, serif;
	font-weight: 600;
}

#question p:first-of-type {
	color: green;
	font-size: 1.5em;
}

#question p:last-of-type {
	color: white;
	background-color: green;
	padding: 1%;
	font-size: 2em;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

input[type=text] {
	width: 100%;
	padding: 15px;
	margin-bottom: 3%;
	border: 2px solid green;
	outline: none;
	color: green;
	font-size: 1em;
	font-family: "Times New Roman", Times, serif
	font-weight: 600;
}

#btn, #start {
	background-color: green;
	color: white;
	padding: 15px;
	border: none;
	cursor: pointer;
	width: 40%;
	display: block;
	margin: 0 auto;
	outline: none;
	font-family: 'Times New Roman', cursive;
	letter-spacing: 4px;
	font-size: 1em;	
	transition: 0.3s;
}

#btn:hover, #start:hover {
	background-color: green;
}

#displayresult {
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.2);
}

#displayresultcontent {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0;
	width: 80%;
	animation-name: animatetop;
	animation-duration: 0.4s;	
}

#displayresultheader {
	padding: 2px 16px;
	background-color: green;
	font-family: 'Times New Roman', cursive;
	letter-spacing: 4px;
	font-size: 1.5em;
	color: white;
	text-align: center;	
}

#displayresulbody {
	padding: 70px;
	color: green;
	font-size: 5em;
    font-family: "Times New Roman", Times, serif
	font-weight: 600;	
	text-align: center;	
}

#displayresulfooter {
	padding: 2px 16px;
	background-color:green;
	font-family: 'Times New Roman', cursive;
	letter-spacing: 4px;
	font-size: 2em;
	color: white;
	text-align: right;	
	cursor: pointer;	
}

#displayresulfooter:hover {
	text-shadow: 1px 0px 7px rgba(0, 0, 0, 0.59);
}

#question, #answer, #btn, #modal {
	display: none;
}
